* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-weight: 400;
  font-family: Tektur;
  src: url("../../fonts/Tektur/Tektur-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Tektur;
  src: url("../../fonts/Tektur/Tektur-Medium.ttf");
}
@font-face {
  font-weight: 800;
  font-family: Tektur;
  src: url("../../fonts/Tektur/Tektur-ExtraBold.ttf");
}
@font-face {
  font-weight: 400;
  font-family: SF Pro Text;
  src: url("../../fonts/San Francisco Pro Text/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-weight: 500;
  font-family: SF Pro Text;
  src: url("../../fonts/San Francisco Pro Text/SF-Pro-Text-Medium.otf");
}
@font-face {
  font-weight: 400;
  font-family: SF Pro Text Italic;
  src: url("../../fonts/San Francisco Pro Text/SF-Pro-Text-RegularItalic.otf");
}
@font-face {
  font-weight: 600;
  font-family: SF Pro Text;
  src: url("../../fonts/San Francisco Pro Text/SF-Pro-Text-Semibold.otf");
}
@font-face {
  font-weight: 700;
  font-family: SF Pro Text;
  src: url("../../fonts/San Francisco Pro Text/SF-Pro-Text-Bold.otf");
}
html, body {
  min-width: "320px";
  height: 100%;
  color: black;
}
html .block-1, body .block-1 {
  text-align: center;
  position: relative;
}
html .block-1 .block-1__text-block, body .block-1 .block-1__text-block {
  text-align: left;
}
html .block-3 img, body .block-3 img {
  width: 100%;
}
html .block-5 img, body .block-5 img {
  margin-top: calc(50px + 130 * ((100vw - 375px) / 1545));
  margin-bottom: calc(50px + 130 * ((100vw - 375px) / 1545));
}
html .block-6__text-block, body .block-6__text-block {
  margin-top: 25px;
  margin-bottom: 25px;
}
html .block-6__text-block__header, body .block-6__text-block__header {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.39px;
}
html .block-6__form, body .block-6__form {
  color: white;
  background-color: #057AFE;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "SF Pro Text";
  padding: 20px 25px;
}
html .block-6__form *, body .block-6__form * {
  width: 100%;
}
html .block-6__form h2, body .block-6__form h2 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.39px;
  text-align: center;
}
html .block-6__form-block, body .block-6__form-block {
  margin-top: 30px;
}
html .block-6__form-block label, body .block-6__form-block label {
  font-size: 12px;
  font-weight: 400;
}
html .block-6__form-block input, body .block-6__form-block input {
  font-size: 16px;
  border-radius: 5px;
  background: #FCFFFA;
  padding: 10px;
}

._container {
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1700px) {
  ._container {
    padding-left: calc(30px + -15 * ((100vw - 375px) / 1545));
  }
}
@media (min-width: 1700px) {
  ._container {
    padding-right: calc(30px + -15 * ((100vw - 375px) / 1545));
  }
}
@media (min-width: 420px) {
  ._container {
    padding: 0 50px;
  }
}

.page {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
  padding-bottom: 10vh;
}

.main-subheader {
  font-size: calc(24px + 6 * ((100vw - 375px) / 1545));
  font-family: "Tektur", cursive;
  font-weight: 500;
  line-height: 110%;
  padding-bottom: 10px;
}

.main-text {
  font-size: calc(16px + 4 * ((100vw - 375px) / 1545));
  font-family: "SF Pro Text";
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.39px;
}

.main-text700 {
  font-size: calc(16px + 4 * ((100vw - 375px) / 1545));
  font-family: "SF Pro Text";
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.39px;
  margin-bottom: 5px;
}

.full-image {
  width: 85%;
}
@media (min-width: 420px) {
  .full-image {
    width: 85%;
  }
}

.align-center {
  text-align: center;
}

.img_box {
  transition: opacity 0.3s ease;
}
@media (max-width: 440px) {
  .img_box img {
    width: 230px;
  }
}
@media (min-width: 440px) {
  .img_box img {
    width: 260px;
  }
}
@media (min-width: 800px) {
  .img_box img {
    width: 290px;
  }
}

.splide__pagination {
  position: relative;
  margin-top: 15px;
}
.splide__pagination .is-active {
  background: black;
}

.block-slider {
  position: relative;
  height: 120px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider-text {
  position: absolute;
  min-width: 260px;
  max-width: 370px;
  top: 10%;
  margin: 0 auto;
}
.slider-text h2 {
  white-space: nowrap;
  font-size: calc(18px + 6 * ((100vw - 375px) / 1545));
}
.slider-text p {
  font-size: calc(14px + 6 * ((100vw - 375px) / 1545));
}

.img_box {
  width: 250px;
}
@media (min-width: 440px) {
  .img_box {
    width: 260px;
  }
}
@media (min-width: 800px) {
  .img_box {
    width: 280px;
  }
}

header {
  background: white;
  height: 60px;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 400;
}
header div {
  margin-left: calc(15px + 15 * ((100vw - 375px) / 1545));
  margin-right: calc(15px + 15 * ((100vw - 375px) / 1545));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}