// --------------------------- Tektur --------------------------- //

@font-face {
	font-weight: 400;
	font-family: Tektur;
	src: url("../../fonts/Tektur-Regular.ttf");
}

@font-face {
	font-weight: 500;
	font-family: Tektur;
	src: url("../../fonts/Tektur-Medium.ttf");
}

@font-face {
	font-weight: 800;
	font-family: Tektur;
	src: url("../../fonts/Tektur-ExtraBold.ttf");
}

// --------------------------- SF Pro Text --------------------------- //

@font-face {
	font-weight: 400;
	font-family: SF Pro Text;
	src: url("../../fonts/SF-Pro-Text-Regular.ttf");
}

@font-face {
	font-weight: 700;
	font-family: SF Pro Text;
	src: url("../../fonts/SF-Pro-Text-Bold.otf");
}