header {
	background: $white;

	height: 60px;
	width: 100%;

	top: 0;
	position: sticky;
	z-index: 400;

	div {
		@include adaptiv-value('margin-left', 30, 15, 0);
		@include adaptiv-value('margin-right', 30, 15, 0);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}