// --------------------------- GLOBAL STYLES --------------------------- //

html, body {
	color: $black;

	min-width: $minWidth + 'px';
	height: 100vh;
	width: 100%;
}

// --------------------------- HEADER --------------------------- //

header {
	@include adaptiv-value('padding-left', 30, 10, 0);
	@include adaptiv-value('padding-right', 30, 10, 0);

	background: $white;

	height: 60px;
	width: 100%;

	top: 0;
	position: fixed;
	z-index: 400;

	@media(min-width: 980px) {
		@include adaptiv-value('padding-left', 300, 100, 0);
		@include adaptiv-value('padding-right', 300, 100, 0);
	}

	@media(min-width: 1200px) {
		height: 90px;
	}

	div {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		img{
			@include adaptiv-value('width', 150, 110, 0);
		}
	}
}

// --------------------------- MAIN (CONTAINER, FLEX, GRID, PAGE) --------------------------- //

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@include adaptiv-value('padding-left', 15, 30, 0);
	@include adaptiv-value('padding-right', 15, 30, 0);

	@media(min-width: 420px) {
		padding: 0 50px;
	}

	@media(min-width: 590px) {
		padding: 0 30px;
	}

	@media(min-width: 980px) {
		@include adaptiv-value('padding-left', 300, 100, 0);
		@include adaptiv-value('padding-right', 300, 100, 0);
	}
}

.page {
	min-height: 100%;

	position: relative;
	padding-bottom: 10vh;
}

.display-flex-block {
	@media(min-width: 980px) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	&__not-reverse {
		@extend .display-flex-block;
		flex-direction: row;
	}
}

// --------------------------- FOOTER --------------------------- //

footer {
	.footer__block {
		display: flex;
		justify-content: center;
		gap: 40px;
		margin-top: 50px;

		&__flex {
			display: flex;
			gap: 10px;
			align-items: center;
		}
	}

	.icon {
		@include adaptiv-value('width', 60, 30, 0);
	}
}