.img_box {
	transition: opacity 0.3s ease;

	img {
			@media (max-width: 440px) {
					width: 230px;
				}
			
				@media (min-width: 440px) {
					width: 260px;
				}
			
				@media (min-width: 800px) {
					width: 290px;
				}
	}
}

.splide__pagination {
	position: relative;
	margin-top: 15px;

	.is-active{
		background: $black;
	}
}


.block-slider{
	position: relative;
	height: 120px;

	@media(min-width: 700px){
		height: 140px;
	}

	opacity: 0;
	transition: opacity 0.3s ease;
}

.slider-text {
	position: absolute;

	min-width: 260px;
	max-width: 370px;

	top: 10%;
	margin: 0 auto;
	
	h2{
		white-space: nowrap;
		@include adaptiv-value('font-size', 28, 18, 0);
	}

	p{
		@include adaptiv-value('font-size', 24, 14, 0);
	}
}

.img_box {
	img{
	width: 240px;

	@media (min-width: 440px) {
		width: 250px;
	}

	@media (min-width: 520px) {
		width: 300px;
	}
	@media (min-width: 700px) {
		width: 340px;
	}
}
	
}