// --------------------------- FONTS --------------------------- //

$Tektur: 'Tektur', cursive;
$SF-Pro: 'SF Pro Text';
$SF-Pro-Italic: 'SF Pro Text Italic';

// --------------------------- COLORS --------------------------- //

$white: white;
$black: black;
$form: #057AFE;

// --------------------------- SIZES --------------------------- //

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1200;